    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" id="header-text" href="#page-top">
                    <i class="fa fa-money fa-lg" aria-hidden="true"></i> <span class="light">PoE</span> Currency Exchange
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#view-table">Currency Table</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">F.A.Q.</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>


<section class="intro">
<!-- 	<div class="intro-body"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="row"> -->
<!-- 			<img src="/theme/css/logo.png" id="logo"> -->
<!-- 				<div class="col-md-8 col-md-offset-2"> -->
	<!-- 				<h1 class="brand-heading" id="title"><span>PoE</span> Currency</h1>
					<p class="intro-text">True Market Values. Updated Daily.</p> -->
						<%= react_component 'Currency', currency: @currency %>
<!-- 						<a href="#view-table" class="btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated" id="circle-button"></i>
						</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</section>

	<!-- About Section -->
	<div id="view-table"></div>
	<section class="text-center">
		<%= react_component 'AllCurrency', currency: @currency %>
	</section>


	<section class="content-section text-center">
		<div id="faq" class="download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<ul style="list-style-type:none">
					<h2>-Frequently Asked Questions-</h2>
						<li>
							<h4>Where do you get your data from?</h4>
							<p>Data is based off of in-game values</p>
						</li>
					</ul>
				</div>
			</div>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Contact Us</a>
		</div>
	</section>


	<footer>
		<div class="container text-center footer">
			<p>Path of Exile assets used on this site are copyrighted and/or trademarked material of Grinding Gear Games.</p>
			<p>This website is not affiliated with Grinding Gear Games.</p>
			<p><a class="page-scroll" href="#page-top">Back to Top</a> <i class="fa fa-ravelry" aria-hidden="true"></i> PoE Currency 2017</p>
		</div>
	</footer>


	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


